body {
  font-family: "Montserrat", sans-serif;
}
/* header section */
.header {
  height: 1012px;
  font-weight: 700;
  margin-bottom: 8px;
  background-color: gray;
}
.paralax {
  background-image: url(../images/header-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 1012px;
}
/* header menu */
.header__group {
  background-color: rgba(94, 93, 88, 0.6);
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 264px;
  padding: 0px 380px;
  display: flex;
  height: 122px;
  width: 100vw;
  overflow-y: hidden;
}
.header__list {
  display: flex;
  padding-top: 50px;
  align-items: center;
}
.header__link {
  font-size: 16px;
  margin-right: 21px;
  padding-bottom: 47px;
  color: rgba(255, 255, 255, 0.6);
}
.header__link:hover {
  border-bottom: 1px solid #18cfab;
  color: #18cfab;
  transition: 500ms;
}
.header__link:active {
  color: #1a6657;
}
.header__search-icon {
  height: 23px;
  fill: rgba(255, 255, 255, 0.6);
}
.header__search-icon:hover {
  fill: rgba(24, 207, 171, 1);
}
/* header content */
.header__content {
  text-align: center;
  margin-bottom: 129px;
}
.header__title {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.header__title span {
  color: #18cfab;
}
.header__slogan {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 78px;
  margin-bottom: 22px;
}
.header__subtitle {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 34px;
}
.header__buttons {
  margin-top: 128px;
}
.button {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  border-top: 5px solid white;
  border-radius: 5px;
}
.header__button-explore {
  background-color: #18cfab;
  padding: 21px 17px;
  margin-right: 26px;
}
.header__button-purchase {
  background-color: #00cbf6;
  padding: 21px 11px;
}
/* section about  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}
.grid-container div:nth-child(odd) {
  background-color: #1c2a33;
  color: #18cfab;
  padding-top: 95px;
}
.grid-container div:nth-child(even) {
  background-color: #18cfab;
  color: #ffffff;
  padding-top: 105px;
}
.grid {
  height: 377px;
  box-sizing: border-box;
  width: 25vw;
}
.grid__text {
  margin-top: 48px;
}
.grid__text-odd {
  margin-top: 58px;
}

/* services section */
.services {
  margin: auto;
  max-width: 1160px;
  margin-top: 83px;
}
.title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.line:after {
  content: "";
  background-color: #18cfab;
  height: 1px;
  display: block;
  width: 75px;
  margin: auto;
}
.first-line {
  margin-bottom: 2px;
}
.second-line {
  margin-left: 11px;
}
.services__container {
  margin-top: 69px;
}
.tabs {
  display: flex;
  width: 100%;
  color: #717171;
  font-weight: 400;
  font-size: 13px;
}
.services__tabs-title {
  background-color: #f8fcfe;
  width: 100%;
  border: 1px solid #edefef;
  padding: 16px 23px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 28px;
  position: relative;
}
.services__tabs-title:hover {
  cursor: pointer;
  border: 1px solid #18cfab;
}
.services__tabs-title.active {
  background-color: #18cfab;
  color: #ffffff;
  border: 1px solid #18cfab;
}
.services__tabs-title.active::before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  border-top-color: #18cfab;
  border-width: 9px;
  margin-left: -9px;
}
.services__tabs-info {
  display: none;
}
.services__tabs-info.active {
  display: flex;
}
.services__tabs-text {
  margin-left: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #777777;
  letter-spacing: 1px;
  line-height: 24px;
}
.services__tabs-img {
  display: block;
  width: 192px;
  height: 139px;
}
/* action section */
.action {
  height: 476px;
  background-image: url(../images/section-purchase-backgroung.png);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 91px;
  font-weight: 700;
}
.action__title {
  font-size: 40px;

  color: #18cfab;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 12px;
}
.action__text {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 62px;
}
.action__button-purchase {
  background-color: #18cfab;
  display: block;
  margin: auto;
  width: 168px;
  padding: 16px 11px;
  text-align: center;
  font-weight: 700px;
}
/* section work */
.work {
  font-weight: 700;
  background-color: #e9edef;
  width: 100vw;
  padding-top: 95px;
  padding-bottom: 99px;
}
.work__container {
  font-weight: 700;
  max-width: 1160px;
  margin: auto;
}
.work__title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.work__tabs {
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 71px;
}
.work__tabs-title {
  border: 1px solid #dadada;
  padding: 14px 15px;
  cursor: pointer;
}
.work__tabs-title:hover {
  border: 1px solid #18cfab;
}
.work__tabs-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.work__tabs-info {
  width: 285px;
  height: 211px;
  position: relative;
}
.work__image-example {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.work__tabs-info:hover div {
  z-index: 1;
}
.work__owerlay-content {
  background-color: rgba(233, 237, 239, 1);
  border-top: 1px solid rgba(24, 207, 171, 1);
  width: 285px;
  height: 211px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.work__owerlay-img {
  display: block;
  margin: auto;
  padding-top: 46px;
  padding-bottom: 24px;
  cursor: pointer;
}
.work__owerlay-title {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: rgba(24, 207, 171, 1);
}
.work__owerlay-subtitle {
  font-size: 12px;
  font-weight: 300;
  color: rgba(138, 138, 138, 1);
}

.work__button-loading {
  display: block;
  box-sizing: border-box;
  margin: auto;
  max-width: 168px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700px;
  background-color: #18cfab;
  text-align: right;
  padding: 23px 16px 23px 38px;
  background-image: url(../images/work__button-loading-icon.png);
  background-repeat: no-repeat;
  background-position: 22px 22px;
  border-radius: 4px;
}

/* loading  */
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: none;
  margin: auto;
  margin-bottom: 15px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
/* filterImages  */
.hide {
  display: none;
}
/* section Breaking News */
.breaking-news {
  padding-top: 82px;
  padding-bottom: calc(128px - 57px);
}

.breaking-news__cards {
  padding-top: 69px;
  max-width: 1160px;
  margin: auto;
}

.card-content {
  width: 263px;
  height: 208px;
  display: block;
  position: relative;
}
.card:hover .owerlay-info {
  background-color: #18cfab;
  transition: 1s ease;
}
.card:hover .card-header {
  color: #18cfab;
  transition: 1s ease;
}
.owerlay-info {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  background-color: #203e38;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.owerlay-info p {
  padding-bottom: 15px;
}
.card-info {
  padding-left: 15px;
  margin-bottom: 57px;
}
.card-header {
  padding-top: 14px;
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 11px;
}
.breaking-news__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.opinion {
  height: 853px;
  background-image: url(../images/opinion-background.png);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.opinion__container {
  max-width: 1160px;
  margin: auto;
}
.opinion__container h3 {
  padding-top: 98px;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
}
.opinion__quotation-marks img {
  display: block;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 36px;
}

.opinion__coment {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #bbbbbb;
  padding-bottom: 37px;
  line-height: 30px;
}
.opinion__persons-name {
  text-align: center;
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 27px;
}
.opinion__persons-job {
  text-align: center;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 13px;
  padding-bottom: 38px;
}
.opinion__img-container {
  border: 11px solid rgba(31, 218, 181, 0.2);
  border-radius: 80px;
  width: 142px;
  height: 142px;
  display: block;
  margin: auto;
}
.opinion__img {
  width: 142px;
  height: 142px;
  display: block;
  margin: auto;
}
.opinion__scrolling-icons {
  display: flex;
  justify-content: center;
  margin-top: 51px;
}
.opinion__list {
  display: flex;
  width: 483px;
  justify-content: space-around;
}

.arrow {
  display: block;
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  margin-top: 19px;
  color: #ffffff;
  line-height: 2em;
  text-align: center;
}
.arrow:hover {
  background-color: #18cfab;
  cursor: pointer;
}
.opinion__small-img {
  display: block;
  border: 7px solid rgba(31, 218, 181, 0.2);
  border-radius: 80px;
  width: 59px;
  height: 59px;
  cursor: pointer;
}
.opinion__small-img.active {
  transition: 0.5s;
  transform: scale(1.2);
  margin-bottom: 34px;
  border: 7px solid rgba(31, 218, 181, 1);
  border-radius: 35px;
}
/* gallery section */
section.gallery {
  margin-top: 108px;
  font-weight: 700;
}

.gallery__container {
  max-width: 1160px;
  margin: auto;
  margin-top: 83px;
  margin-bottom: 52px;
}
.gallery__div {
  margin-bottom: 10px;
}
.gallery__button-loading {
  display: block;
  box-sizing: border-box;
  margin: auto;
  max-width: 168px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700px;
  background-color: #18cfab;
  text-align: right;
  padding: 23px 16px 23px 38px;
  background-image: url(../images/work__button-loading-icon.png);
  background-repeat: no-repeat;
  background-position: 22px 22px;
  border-radius: 4px;
  margin-bottom: 80px;
}
.copyright {
  background-color: rgba(34, 53, 63, 1);
  color: rgba(174, 174, 174, 1);
  padding: 48px 0;
  text-align: center;
}
.copyright span {
  color: rgba(24, 207, 171, 1);
  cursor: pointer;
}
